* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: 'League Spartan', sans-serif;
	font-weight: 500;
	background-color: #EFFAFA;
}

a,
a:visited {
	text-decoration: none;
}

#header {
	display: flex;
	background-color: #5CA5A5;
}

#header img {
	width: 100%;
}

#filter {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 80%;
	max-width: 960px;
	height: 50px;
	position: relative;
	top: -25px;
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: -1px 1px 8px rgba(92, 165, 165, 0.3);
	opacity: 0;
	transition: visibility 1s, opacity 0.3s linear;

}

.filter-box-transition {
	visibility: visible !important;
	opacity: 1 !important;
	transition: visibility 0s, opacity 0.3s linear;
}

#main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80%;
	max-width: 900px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0px;
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: -1px 1px 8px rgba(92, 165, 165, 0.3);
}


.card-description {
	display: grid;
	grid-template-areas:
		'img header'
		'img main'
		'img bottom';
	gap: 5px 20px;
	align-items: center;
	justify-content: flex-start;

}

.card-labels {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 10px;
}

.cd-img {
	grid-area: img;
}

.cd-header {
	grid-area: header;
	display: flex;
	align-items: center;
	gap: 5px;
}

.cd-main {
	grid-area: main;
	font-weight: 700;
	cursor: pointer;
}

.cd-main:hover {
	color: #5CA5A5;
}

.cd-bottom {
	grid-area: bottom;
	display: flex;
	align-items: center;
	gap: 10px;
	color: #7C8F8F;
	font-size: .9em;
}

.circle {
	font-size: 5px;
}

.label {
	background-color: #EFF6F6;
	color: #5CA5A5;
	font-size: .9em;
	font-weight: 700;
	padding: 7px;
	border-radius: 5px;
	cursor: pointer;
}

.label:hover {
	background-color: #5CA5A5;
	color: white;
}

.featured {
	border-left: 5px solid #5CA5A5;
}

.cd-h-company-name {
	color: #5CA5A5;
	font-size: .9em;
	margin-right: 5px;
}

.cd-h-new {
	color: white;
	background-color: #5CA5A5;
	padding: 5px 8px 3px 8px;
	border-radius: 25px;
	text-transform: uppercase;
	align-items: center;
	font-size: .7em;
}

.cd-h-featured {
	color: white;
	background-color: #2B3939;
	padding: 5px 8px 3px 8px;
	border-radius: 25px;
	text-transform: uppercase;
	align-items: center;
	font-size: .7em;
}

.role-inactive,
.level-inactive,
.language-inactive,
.tools-inactive {
	display: none !important;
}

.filter-labels {
	display: flex;
	gap: 10px;
}

.filter-clear {
	color: #5CA5A5;
	background-color: #EFF6F6;
	padding: 10px;
	border-radius: 5px;
	justify-content: flex-end;
	font-size: .9em;
	cursor: pointer;
}

.filter-clear:hover {
	color: white;
	background-color: #5CA5A5;
}

.fl-button {
	display: flex;
	align-items: center;
	height: 30px;
	font-size: .9em;
	font-weight: 700;
	border-radius: 5px;
}

.fl-text {
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #EFF6F6;
	color: #5CA5A5;
	text-transform: capitalize;
	padding: 7px;
	border-radius: 5px 0px 0px 5px;
	cursor: default;
}

.fl-close {
	height: 100%;
	display: flex;
	align-items: center;
	color: white;
	background-color: #5CA5A5;
	padding: 7px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}

.fl-close:hover {
	background-color: #2B3939;
}

.fl-close img {
	width: 12px;
	height: 12px;
	margin: auto 2px;
}

.attribution {
	margin: 15px auto;
	font-size: 11px;
	text-align: center;
	font-weight: 100;
}

.attribution a {
	color: #7C8F8F;
	font-weight: 300;
}

.tippy-box[data-theme~='green'] {
	background-color: #5CA5A5;
	color: white;
}

@media only screen and (max-width: 820px) {
	#main,
	#filter {
		width: 90%;
	}

	@media only screen and (max-width: 620px) {
		.card {
			flex-wrap: wrap;
			margin-bottom: 25px;
		}

		.card-labels {
			width: 100%;
			margin: 15px 0px 0px 0px;
			padding: 15px 0px;
			border-top: 1px solid #7C8F8F;
		}

		.card-description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px 20px;
		}

		.cd-img img {
			width: 58px;
		}

		.cd-img {
			position: relative;
			top: -35px;
			margin-bottom: -35px;
		}

		#filter {
			height: auto;
			width: 90%;
			padding: 10px;
		}

		.filter-labels {
			flex-wrap: wrap;

		}

		.fl-button {
			font-size: .8em;
			height: 26px;
		}

		.fl-close img {
			width: 10px;
			height: 10px;
			margin: auto 2px;
		}